@{
    ViewData["Title"] = "Welcome to the municiputlity System!!";
}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4">𐙚 Welcome To The Municipality Management System𐙚 </h1>

        <p class="lead">Quick. Citizen-focused. Worht It.</p>
</div>
<div class="row text-center">
<div class="col-md-3">
<div class="card shadow-sm">
<div class="card-body">
<h5 class="card-title">Citizens</h5>
<p class="card-text">Citizen Records.</p>
<a href="/Citizens" class="btn btn-primary">Go toCitizens</a>
</div>
</div>
</div>
        <div class="col-md-3">
<div class="card shadow-sm">
<div class="card-body">
<h5 class="card-title">   Staff</h5>
<p class="card-text">View and Manage Staff Members.</p>
<a href="/Staff" class="btn btn-success">Go To Staff</a>
</div>
</div>
        </div>
<div class="col-md-4">
<div class="card shadow-sm">
<div class="card-body">
<h5 class="card-title">Service Requests</h5>
<p class="card-text">Track citizen service requests.</p>
<a href="/ServicesRequested" class="btn btn-warning">Go to Services</a>
</div>
            </div>
        </div>
<div class="col-md-3">
<div class="card shadow-sm">
<div class="card-body">
<h5 class="card-title">Reports</h5>
<p class="card-text">Submit and manage reports.</p>
<a href="/Reports" class="btn btn-danger">Go to Reports</a>
</div>
</div>
</div>
    </div>
</div>