@model Municipulity_System.Models.Staff
@{
    Layout = "_Layout";
}
<h2>Edit Staff</h2>
<form asp-action="Edit">
<input type="hidden" asp-for="StaffID" />
<label>StaffName</label>
<input asp-for="StaffName" />
<label>Occupation</label>
<input asp-for="Occupation" />
<label>Department</label>
<input asp-for="Department" />
<button type="submit"> Save!! </button>
</form>