@page
@model Municipulity2.Pages.ContactModel
@{
    ViewData["Title"] = "ContactPage";
}

<h3>Contact Form</h3>

@if(Model.hasData)
{
    <p>Hello! @Model.FirstName @Model.LastName</p>
    <p>We recieved your following message correctly:</p>
    <p>@Model.Message</p>

}



<di class="Container">
    <form method="post">
        <label for="fname"> FirstName</label><br>
        <input type="text" id="fname" name="FirstName" /><br>
        
        <label for="lname"> LastName</label><br>
        <input type="text" id="lname" name="LastName" /><br>

        <label for="message"> Message</label><br>
        <input type="text" id="message" name="Message" style="height:200px" /><br>

        <input type="submit" value="Submit">
    </form>

</di>