body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 10px 0;
}

    footer p {
        color: #6c757d;
    }
